 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: A89C-DE95

 C:\Dev\workspace\GIT_TEST 디렉터리

2017-01-12  오후 02:47    <DIR>          .
2017-01-12  오후 02:47    <DIR>          ..
2017-01-12  오후 02:34             1,264 .classpath
2017-01-12  오후 02:45    <DIR>          .git
2017-01-12  오후 02:47                 0 .gitignore
2017-01-12  오후 02:34             1,318 .project
2017-01-12  오후 02:34    <DIR>          .settings
2017-01-12  오후 02:34               366 .springBeans
2017-01-12  오후 02:34             5,001 pom.xml
2017-01-12  오후 02:34    <DIR>          src
2017-01-12  오후 02:34    <DIR>          target
               5개 파일               7,949 바이트
               6개 디렉터리  442,219,593,728 바이트 남음
